<button
  mat-raised-button
  color="primary"
  aria-label="Shuffle Cards"
  (click)="shuffleCards()"
>
  Start game
  <mat-icon>shuffle</mat-icon>
</button>
<!-- Check if apiData.cards is not empty then render -->
<div *ngIf="apiData?.cards">
  <div class="grid">
    <!-- Loop all card in apiData.cards and display app-tarot-card -->
    <app-tarot-card
      *ngFor="let card of apiData.cards"
      [card]="card"
      [imagesUrl]="apiData?.imagesUrl"
      [imageBackCard]="apiData?.imageBackCard"
      [hasChoosenCard]="hasChoosenCard"
      (setHasChoosenCard)="setHasChoosenCard(true)"
    ></app-tarot-card>
  </div>
</div>
