<div class="container">
  <img [src]="data.imagesUrl + data.card.image" />
  <div class="details">
    <h2>{{ data.card.name }}</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi feugiat
      lacus nec quam auctor, id rutrum nisl aliquet. Aenean fringilla porttitor
      ullamcorper. Fusce nibh purus, convallis a felis in, fermentum laoreet
      mauris. Sed est lacus, semper eu egestas at, accumsan ut quam. Suspendisse
      eu consectetur neque. Etiam nec aliquam tortor. Cras gravida vitae mi in
      mollis. Mauris a turpis egestas velit sodales convallis. Etiam arcu elit,
      condimentum in lacus vel, consequat tristique nulla. In sed purus id dui
      consequat condimentum. Nunc vehicula volutpat felis feugiat maximus.
      Curabitur condimentum nulla mi, nec convallis massa tincidunt in. Duis
      dolor dolor, semper in turpis vitae, congue sollicitudin augue. Quisque
      nulla ante, mollis a semper non, luctus quis arcu.
    </p>
  </div>
</div>
