.container {
  display: flex;
}

img {
  padding-right: 1rem;
}

@media (max-width: 468px) {
  .container {
    flex-direction: column;
  }
  img {
    padding: 0;
    max-height: 20vh;
    object-fit: contain;
    margin: 0 auto;
  }
}
